<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RMGF_footbot_circular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>RMGF_footbot_circular_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>custom_distributions_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>custom_distributions_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>epuck_obstacleavoidance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>epuck_obstacleavoidance_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>eyebot_circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>eyebot_circle_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>eyebot_flocking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>eyebot_flocking_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>footbot_diffusion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>footbot_diffusion_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>footbot_flocking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>footbot_flocking_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>footbot_foraging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>footbot_foraging_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>footbot_gripping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>footbot_gripping_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>footbot_manualcontrol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>footbot_manualcontrol_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>footbot_nn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>footbot_nn_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>footbot_synchronization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>footbot_synchronization_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>foraging_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>foraging_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>id_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>id_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>manualcontrol_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>manualcontrol_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>mpga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>mpga_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>mpga_phototaxis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>mpga_phototaxis_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>mpga_phototaxis_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>mpga_phototaxis_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>trajectory_loop_functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>trajectory_loop_functions_autogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04850E3DB33B4072B25E8DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B78CA3BF654ABBAC5EAC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B67DC6F5217423E9D3021CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1C8B177F6B4C0FAD736D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DC9AFA7E08428FAAC3F0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1252FDC029AF4ADB89DAC554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>206EDC8D813D4522862AAA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>217A916A4E7F4E47B00CAB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231EE26F3855496293D6DEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2469195557F94C799376D51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE6E7609D254DD58525483C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335A76171FB04334BEF1C394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>370A35BC67044BEEB987EE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D47B6BA7FA24127A47BED53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41E998D1B69648AC805F310D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43A3521D46314A079385EE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44253F7473A04ACA8AE4D870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>479C8AA5276841E78B85E738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC78CB7BDE54BFBB54AFA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCEFDE64F394E9199A7C468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E0886603404C9598A52A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E0FAE51E364A429812749E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67546848E98647CBB7578382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAB0FF22404401683494BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A133C01FD7A4D87A0E3C860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93BC98F9830A458CB6FFB391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9793FB46A55045679EE766A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99CCA215946A4C2C80359688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28B9CE61622425EB1F4EFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93834615CAA453BAB7FAAC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1FA427AC2884D519CC44461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35C812EAC074F87B5BFE6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDB6149F6C6944478862894F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE6AFB1EE74F465582EB7647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E23CA7EAC84A949F1432BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E02839BAF144C0B79CBF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB94D1E3C59746C3A1B99159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD269D840D84AAB84FC6402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F463AC3BAE03412B93FCD3ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8126EB4DC0C458C8581DEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
